/* Jersey 字体类 */
.font-jersey-10 {
  font-family: var(--font-jersey-10), sans-serif;
}

.font-jersey-25 {
  font-family: var(--font-jersey-25), sans-serif;
}

.font-exo2 {
  font-family: 'Exo 2', sans-serif;
}

/* Roboto 字体类 */
.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.test {
  /* UNI Heart NFT */

  position: absolute;
  width: 255px;
  height: 48px;
  left: 69px;
  top: 546px;

  font-family: 'Jersey 10';
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 48px;
  /* identical to box height, or 89% */
  display: flex;
  align-items: center;
  text-align: center;

  background:
    linear-gradient(
      90deg,
      #1eddd6 0%,
      #34e37a 19.8%,
      #47f04f 36.43%,
      #81e73b 52.69%,
      #bae25b 75.48%,
      #e377da 94.23%
    ),
    linear-gradient(156.71deg, #6b0ae9 2.78%, #6410b1 99.22%), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
